body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 30px;
  background-color: rgb(254, 250, 224); /* Adjusted background color */
}

h1 {
  text-align: center;
  color: rgb(95, 111, 82); /* Adjusted color for h1 */
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: rgb(139, 149, 106); /* Adjusted color for h2 */
  text-align: center; /* Centering h2 headings */
}

.tableau-visualization {
  margin: 20px auto;
  padding: 20px; /* Increased padding */
  background-color: rgb(254, 250, 224); /* Adjusted background color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centering visualizations */
}

.toolbar {
  text-align: center;
  background-color: rgb(95, 111, 82); /* Adjusted toolbar color */
  padding: 10px 0;
}

.toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar ul li {
  display: inline;
  margin-right: 20px;
}

.toolbar ul li a {
  color: rgb(254, 250, 224); /* Adjusted toolbar link color */
  text-decoration: none;
}

.toolbar ul li a:hover {
  color: rgb(169, 179, 136); /* Adjusted toolbar link hover color */
}

/* Add smooth scrolling transition */
html {
  scroll-behavior: smooth;
}

/* Additional styling for clickable sections */
.section-link {
  cursor: pointer;
}

/* Active link styling */
.section-link.active {
  color: #4ecdc4; /* Change to your desired active link color */
}
